<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="nav">
        <img src="../static/me.jpg" alt="">
        <div id="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </nav>
    
        </div>
        
    </div>
    <section id="home">
        <h1 class="Heading">{Mohd_Nadeem_Portfolio}.</h1>
        <p class="description">I am a diligent student seeking to find a challenging position in a reputable organization to enhance my technical skills. I am a machine
            learning enthusiast who is completely passionate about finding exciting insights from real-world data. I have worked on computer
            vision, CNN, RNN, and also on analytics software like Power BI, and have first-hand experience in python libraries like numpy, pandas, matplotlib, etc.
            .</p>
        <br>
        <p class="quote">
            “Contact for Frelance work.”
        </p>
        <button class="btn">
            <a href="/contact">

                Contact
            </a>
        </button>
    </section>

    <div id="container">
        <div class="box1">
            <h1>Static webistes</h1>
            <div id="slider">
                <div id="sliderBox">
                    <figure>
                        <a href="https://snad0.github.io/MyCricPoint/"> <img src="../static/1.png" alt="">  </a> 
                        <a href="https://snad0.github.io/Food-website/"> <img src="../static/2.png" alt="">  </a>
                        <a href="">  <img src="../static/3.jpg" alt=""> </a>
                        <a href="">  <img src="../static/4.jpg" alt=""> </a>
                       
                    </figure>
                    
            
                </div>
        
            </div>



        </div>
        <div class="box2">
            <h1>Dynamic webistes</h1>
            <div id="slider">
                <div id="sliderBox">
                    <figure>
                        <a href="https://snad0.github.io/MyCricPoint/"> <img src="../static/1.png" alt="">  </a> 
                        <a href=""> <img src="../static/2.jpg" alt="">  </a>
                        <a href="">  <img src="../static/3.jpg" alt=""> </a>
                        <a href="">  <img src="../static/4.jpg" alt=""> </a>
                       
                    </figure>
                    
            
                </div>
        
            </div>

        </div>
        <div class="box3">
            <h1>Machine Learning work</h1>
            <div id="slider">
                <div id="sliderBox">
                    <figure>
                        <!-- <a href="https://www.hotstar.com/"> <img src="../static/1.jpg" alt="">  </a>  -->
                        <a href=""> <img src="../static/2.jpg" alt="">  </a>
                        <a href="">  <img src="../static/3.jpg" alt=""> </a>
                        <a href="">  <img src="../static/4.jpg" alt=""> </a>
                        <a href="">  <img src="../static/3.jpg" alt=""> </a>
                        <a href=""> <img src="../static/2.jpg" alt="">  </a>
                       
                    </figure>
                    
            
                </div>
        
            </div>

        </div>
    </div>
    
</body>
</html>