<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <nav id="navbar">
        <div id="logo">
            <img src="../static/me.jpg" alt="">

        </div>

    
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#home">About</a>
            </li>
            <li>
                <a href="#container">Project</a>
            </li>
            <li>
                <a href="#Cont-container">Contact</a>
            </li>
        </ul>
    </nav>
  
        

    <section id="home">
        <div id="fullimg">
            <img src="../static/me.jpg" alt="">

        </div>
        <h1 class="Heading">{Mohd_Nadeem_Portfolio}.</h1>
        <p class="description">A diligent student, a Python programmer and a Machine learning enthusiast. <br>
            I am seeking to find a challenging position to work as a data analyst in a reputable organization. <br> I've worked on Power BI,and have good experience in python libraries like numpy, pandas, matplotlib, etc and i am completely passionate about finding exciting insights from real-world data. <br> I also have experience in Deep learning and computer vision, CNN, RNN.
             <br>
             I have a good front-end development experience i've been working alot on my personal projects.</p>
        <br>
        <p class="quote">
            “Contact for Frelance work.”
        </p>
        <button class="btn">
            <a href="#Cont-container">

                Contact
            </a>
        </button>
    </section>
    <section id="Skills">

        <h1>Skills</h1>
        <div id="Sikll-Section">
            <span class="skills__name">Python</span>            
            <span class="skills__name">Flask</span>            
            <span class="skills__name">SQL</span>

            <span class="skills__name">Data Analytics</span>
            <span class="skills__name">Microsoft Power BI </span>
            <span class="skills__name">Tableau</span>
            <span class="skills__name">Pandas</span>
            <span class="skills__name">Matplotlib</span>
            <span class="skills__name">Excel</span>
            <span class="skills__name">VBA Macros</span>
            <span class="skills__name">Machine Learning</span>
            <span class="skills__name">Deep Learning</span>
            <span class="skills__name">Computer vision</span>
            <span class="skills__name">Heroku</span>

        </div>
 

    </section>

    <div id="container">
        <div id="project">
            <h1>Project Work</h1>

        </div>
        <div class="box1">
            <h1>Static webistes</h1>
            <div id="slider1">
                <div id="sliderBox1">
                    <figure>
                        <a href="https://snad0.github.io/Food-website/"> <img src="../static/2.png" alt="">  </a>
                        <a href="https://snad0.github.io/MyCricPoint/"> <img src="../static/1.png" alt="">  </a> 
                        <a href="https://snad0.github.io/Fitness-web/">  <img src="../static/9.png" alt=""> </a>

                       
                    </figure>
                    
            
                </div>
        
            </div>



        </div>
        <div class="box2">
            <h1>Dynamic webistes</h1>
            <div id="slider2">
                <div id="sliderBox2">
                    <figure>
                        <a href="https://nad-shop-web.herokuapp.com/"> <img src="../static/8.png" alt="">  </a> 
                        <a href="http://shmpl.co.in/"> <img src="../static/10.png" alt="">  </a>

                       
                    </figure>
                    
            
                </div>
        
            </div>

        </div>
        <div class="box3">
            <h1>Machine Learning work</h1>
            <div id="slider3">
                <div id="sliderBox3">
                    <figure>
                        <!-- <a href="https://www.hotstar.com/"> <img src="../static/1.jpg" alt="">  </a>  -->
                        <a href="https://github.com/snad0/Movie-Recomendation-System"> <img src="../static/13.png" alt="">  </a>
                        <a href="http://shmpl.co.in/"> <img src="../static/10.png" alt="">  </a>

                    </figure>
                    
            
                </div>
        
            </div>

        </div>
        <div class="box2">
            <h1>Analytics work</h1>
            <div id="slider2">
                <div id="sliderBox2">
                    <figure>
                        <a href="https://app.powerbi.com/groups/me/reports/45fe5a19-f9fe-461c-a999-6dd11541458a/ReportSection"> <img src="../static/16.png" alt="">  </a>
                        <a href="https://app.powerbi.com/groups/me/reports/71258e20-310d-4a6a-a469-3044f616b5eb/ReportSection"> <img src="../static/15.png" alt="">  </a> 

                       
                    </figure>
                    
            
                </div>
        
            </div>

        </div>
    </div>
    <div id="Cont-container">

        <h1>

            Contact Me
        </h1>
        <div id="part">
            <!-- <div class="contimg">
                <img src="../static/cont2.jpg" alt="">
            </div> -->

            <div class="contact">
    
                <div class="icon">
                    <i class="social"> 
                        <a href="https://www.linkedin.com/in/snadeem97/" target="blank">
                            <img src="../static/linkedin.png" alt="">
                        </a>
                        <a href="https://github.com/snad0" target="blank"><img src="../static/git.png" alt=""></a>
                    </i>
                </div>
                <div class="icon">
    
                        <i class="email"> 
                            <a href="" target="blank">
                                <img src="../static/Gmail.svg" alt="">
    
            
                            </a>
                        </i>
                        <a class="mail" href="">
                                Nadeemsaifi497@gmail.com
    
                        </a>
                        
                </div>
                
    
            </div>
        </div>
    </div>
    <footer>
        <div class="center">
           <p>

               contact for any information
           </p> 
        </div>
    </footer>
    
</body>
</html>