<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <nav id="navbar">
        <div id="logo">
            <img src="../static/me.jpg" alt="">

        </div>

    
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
  
        

    <section id="home">
        <h1 class="Heading">{Mohd_Nadeem_Portfolio}.</h1>
        <p class="description">A diligent student, a Python programmer and a Machine learning enthusiast. <br>
            I am seeking to find a challenging position in a reputable organization to enhance my technical skills. <br>I have worked on computer
            vision, CNN, RNN, and also on analytics software like Power BI, and have first-hand experience in python libraries like numpy, pandas, matplotlib, etc and i am completely passionate about finding exciting insights from real-world data.
            .</p>
        <br>
        <p class="quote">
            “Contact for Frelance work.”
        </p>
        <button class="btn">
            <a href="/contact">

                Contact
            </a>
        </button>
    </section>

    <div id="container">
        <div class="box1">
            <h1>Static webistes</h1>
            <div id="slider1">
                <div id="sliderBox1">
                    <figure>
                        <a href="https://snad0.github.io/MyCricPoint/"> <img src="../static/1.png" alt="">  </a> 
                        <a href="https://snad0.github.io/Food-website/"> <img src="../static/2.png" alt="">  </a>
                        <a href="https://snad0.github.io/Fitness-web/">  <img src="../static/9.png" alt=""> </a>

                       
                    </figure>
                    
            
                </div>
        
            </div>



        </div>
        <div class="box2">
            <h1>Dynamic webistes</h1>
            <div id="slider2">
                <div id="sliderBox2">
                    <figure>
                        <a href="https://nad-shop-web.herokuapp.com/"> <img src="../static/8.png" alt="">  </a> 
                        <a href="http://shmpl.co.in/"> <img src="../static/10.png" alt="">  </a>

                       
                    </figure>
                    
            
                </div>
        
            </div>

        </div>
        <div class="box3">
            <h1>Machine Learning work</h1>
            <div id="slider3">
                <div id="sliderBox3">
                    <figure>
                        <!-- <a href="https://www.hotstar.com/"> <img src="../static/1.jpg" alt="">  </a>  -->
                        <a href="https://github.com/snad0/Movie-Recomendation-System"> <img src="../static/13.png" alt="">  </a>
                        <a href="http://shmpl.co.in/"> <img src="../static/10.png" alt="">  </a>

                    </figure>
                    
            
                </div>
        
            </div>

        </div>
    </div>
    
</body>
</html>